.header {
    background-color: $primary-color; 
    padding: 3rem ;
    border-bottom: 1px solid #dee2e6;  
    height: 60px; 
    
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .header-title {
      font-size: 1.5rem;
      color: $color-secondary-text;
      
      a {
        text-decoration: none;
        color: inherit;
      }
      
.logo {  
  width: 65px;
  height: 65px;
  margin-top: -35px;
}
    }
  
    .header-buttons {
      .btn {
        margin-left: 0.5rem;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        background-color: $btn-primary-bg;
        color: $btn-primary-color;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: $buttons-color;
        }
      }
    }
  }
  
  //Estilos para los modales
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  
    .modal-content {
      background: $form-background-color;
      padding: 2rem;
      border-radius: 0.5rem;
      width: 90%;
      max-width: 500px;
      
      h2 {
        margin-top: 0;
      }
  
      form {
        display: flex;
        flex-direction: column;
  
        label {
          margin-bottom: 1rem;
        }
  
        input {
          padding: 0.5rem;
          margin-top: 0.25rem;
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
        }  

        button {
          margin-top: 1rem;
          padding: 0.5rem;
          border: none;
          border-radius: 0.25rem;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &.submit {
            background-color: #007bff;
            color: $btn-primary-color;
  
            &:hover {
              background-color: $buttons-color;
            }
          }
  
          &.cancel {
            background-color: #6c757d;
            color: $btn-primary-color;
  
            &:hover {
              background-color: #5a6268;
            }
          }
        }
      }
    }
  }
  
  /* Media Queries para diseño responsivo */
  @media (max-width: 480px) {
    .header {
      padding: 1rem;
  
      .header-title {
        font-size: 1rem;
  
        .logo {
          width: 40px;
          height: 40px;
        }
      }
  
      .header-buttons {
        .btn {
          padding: 0.5rem;
          font-size: 0.875rem;
        }
      }
    }
  }