//-------- Colors---------//
$primary-color: #1F316F;
$secondary-color: #0056b3;
$text-color: #333333;
$text-color-secondary: #666666;
$background-color: #FFF8E8;
$form-background-color: #ffffff;
$input-border-color: #dddddd;
$input-focus-border-color: $secondary-color;
$card-bg-color: #ffffff;
$card-border-color: #dddddd;
$card-shadow-color: rgba(0, 0, 0, 0.1);
//--------botones---------//
$btn-primary-bg: #1A4870;
$btn-primary-color: #ffffff;    
$btn-secondary-bg: #666666;    
$buttons-color: #0056b3;
//--- Border Radius----//
$btn-border-radius: 4px;
$modal-border-radius: 8px;
$card-border-radius: 8px;
//--tamaño de fuente---//
$font-size-base: 16px;
$color-text: #333333; 
$color-secondary-text: #ffffff;


